.custom-card {
    width: 350px;
    max-width: 100%;
    background-color: #eee !important;
}

.user-icon {
    font-size: 50px;
    color: #000;

}

label {
    font-size:14px;

}

.form-group {
    margin-top:10px;
}